<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert = "fragments/header :: header"></div>
    <title>Login page</title>
</head>
<body>
    <h1>Login page</h1>
        <p th:if="${loginError}" class="error">Wrong user or password</p>
        <form th:action="@{/login}" method="post">
            <label for="username">Username</label>:
            <input type="text" id="username" name="username" autofocus="autofocus" placeholder="Username">
            <br>
            <label for="password">Password</label>:
            <input type="password" id="password" name="password" placeholder="Password">
            <br>
            <input type="submit" value="Log in">
        </form>
        <div>
            <input type="checkbox" id="remember-me" name="remember-me">
            <label class="form-check-label" for="remember-me">Remember Me?</label>
        </div>
        <div>
            <a href="/oauth2/authorization/github">Login with Github</a>
        </div>
</body>
</html>

